* {
  font-family: "Noto Sans KR", sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  color: #000;
}

.wrap {
}
.header > img {
}
.header {
  width: 720px;
  margin: auto;
}

.introBg {
  background-image: url("../src/main.jpg");
  width: 720px;
  height: 427px;
}
ul {
  display: flex;
}
ul > li {
  flex: 1;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.user-image-button {
  display: block;
  width: 50px;
  height: 50px;
  margin-bottom: 1em;
  margin: 0px auto;
}
.container {
  display: grid;
  grid: ". .";
  gap: 16px;
  max-width: 800px;
  columns: 300px 2;
  column-gap: 50px;
  /* normal == 1em */
  column-rule: 20px solid #0002;
  /* For test */
}

.contents {
  position: relative;
  top: 20%;
  text-align: justify;
}

.container img {
  display: block;
  float: left;
  max-width: 100%;
  width: 130px;
  height: 150px;
  margin-bottom: 1em;
  margin: 0px auto;
  padding-right: 10px;
}

.item {
  padding: 12px;
  background: white;
}

.btn {
  float: right;
}

.updateBtn {
  text-align: center;
  position: relative;
  top: 50px;
  margin: 0px auto;
  width: 790px;
  height: 50px;
}

.footer {
  top: 100px;
  width: 100%;
  height: 100px;
  position: relative;
  bottom: 0;
  background: white;
  text-align: center;
  color: white;
}
