<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>GoCamping</title>
    <meta name="author" content="GoCamping">
    <meta name="description" content="캠핑장">
    <meta name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.css">
    <!--css 기본설정 초기화-->
    <link rel="stylesheet" href="../css/reservationCheck.css">
    <!--css 연결-->
</head>

<body>
    <nav class="navbar">
        <div class="wrapNav">
            <div>
                <img src="../image/left.png" style="height: 25px"/>
            </div>
            <div>
                <div class="nav-link active" style="color: black">예약 확인</div>
            </div>
            <div>
                <img src="../image/home.png" style="height: 25px"/>
            </div>
        </div>
    </nav>
    
    <div class="campRoom">
        <span class="campRoomInfo">
            <div style="font-size: 24px; font-weight:bolder; margin-bottom: 10px;">단체동 캠핑</div>
            <div style="font-size: 20px; margin-bottom: 5px;">랜덤배정</div>
            <div style="font-size: 20px; margin-bottom: 10px;">기준4명/최대8명</div>
            <div style="font-size: 20px; color:gray; font-weight:bolder">가평 ㅇㅇ캠핑파크펜션</div>
        </span>
    </div> 
    

    <div class="contents">
        <div class="checkIn">
            <div>체크인</div>
            <div style="color: green; font-size: 23px; font-weight: bold;">4월 2일(금)</div>
        </div>
        <div class="line">
            <img src="../image/diagonal.png" style="height: 60px; position: relative; top: 10px">
        </div>
        <div class="checkIn">
            <div>체크아웃</div>
            <div style="color: green; font-size: 23px; font-weight: bold;">4월 3일(토)</div>
        </div>
    </div>

    <div class="reservationContents">
        <div class="reservationInfo">
            <div style="font-size: 20px; font-weight: bold; margin: 10px 0">예약정보</div>
            <div class="info"><span>예약자 이름</span><span class="right">예약자이름</span></div>
            <div class="info"><span>예약자 번호</span><span class="right">010-0000-0000</span></div>
 
        </div>
        
        <button class="payBtn" style="font-weight: bold;">승인하기</button>
    </div>
    
  
</body>
<script src="./js/script.js"></script>

</html>