<html>

<head>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/review_comment.css"/>
    
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light"
        style="height: 50px; box-shadow: 0px 5px 5px rgb(180, 179, 179)">
        <div class="container-fluid">
            <div>
                <img src="../image/left.png" style="position: relative; left: 500%; height: 25px" />
            </div>
            <div>
                <span class="nav-link active" style="color: black">리뷰관리</span>
            </div>
            <div>
                <img src="../image/home.png" style="height: 28px; position: relative; right: 600%" />
            </div>
        </div>
    </nav>
    <div class="container">
        <p class="contents">
            <span><img class="user-image" src="../image/user.PNG"></span>
            <span>{{user.name}}</span><br />
            <span>★★★☆☆</span><br />
            <span style="color: black">작성일 04/04</span>
            <br />
            <img src="../image/picture.jpeg" /> 것이다 이상의 꽃이 없으면
            쓸쓸한 인간에 남는 것은 영락과 부패 뿐이다 낙원을 장식하는
            천자만홍이 어디 있으며 인생을 풍부하게 하는 온갖 과실이 어디
            있으랴? 이상! 우리의 청춘이 가장 많이 품고 있는 이상! 이것이야
            말로<br />
            <span class="d-grid gap-2">
                <button class="btn btn-lg btn-primary" type="button">답글 달기</button>
            </span>
            <span class="form-group">
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
            </span>
        </p>
        <p class="contents">
            <span><img class="user-image" src="../image/user.PNG"></span>
            <span>{{user.name}}</span><br />
            <span>★★★☆☆</span><br />
            <span style="color: black">작성일 04/04</span>
            <br />
            <img src="../image/picture.jpeg" /> 것이다 이상의 꽃이 없으면
            쓸쓸한 인간에 남는 것은 영락과 부패 뿐이다 낙원을 장식하는
            천자만홍이 어디 있으며 인생을 풍부하게 하는 온갖 과실이 어디
            있으랴? 이상! 우리의 청춘이 가장 많이 품고 있는 이상! 이것이야
            말로<br />
            <span class="d-grid gap-2">
                <button class="btn btn-lg btn-primary" type="button">답글 달기</button>
            </span>
            <span class="form-group">
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
            </span>
            <br/>
        </p>
    </div>
</body>
<footer class="footer"></footer>

</html>