<html>

<head>
    <meta charset="UTF-8">
    <title>GoCamping</title>
    <meta name="author" content="GoCamping">
    <meta name="description" content="캠핑장">
    <meta name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.css">
    <!--css 기본설정 초기화-->
    <!--css 연결-->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <script defer src="../js/room_info_update.js"></script>
    <link rel="stylesheet" href="../css/room_info_update.css"/>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light"
        style="height: 50px; box-shadow: 0px 5px 5px rgb(180, 179, 179)">
        <div class="container-fluid">
            <div><a href="/manage_room">
                <img src="../image/left.png" style="position: relative; left: 500%; height: 25px" />
            </a></div>
            <div>
                <span class="nav-link active" style="color: black">객실 정보 수정</span>
            </div>
            <div><a href="/">
                <img src="../image/home.png" style="height: 28px; position: relative; right: 600%" />
            </a></div>
        </div>
    </nav>
    <div class="container">
        <p class="contents">
            <br/>
            <span><b>객실명</b></span>
            <span class="form-group">
                <input id="name" class="form-control form-control-sm" type="text" placeholder="객실 이름" id="inputSmall"
                    style="max-width:200px;">
            </span><br/>
            <span><b>가격</b></span>
            <span class="form-group">
                <input id="price" class="form-control form-control-sm" type="text"  id="inputSmall"
                    style="max-width:200px;">
            </span><br />
            <span class="form-group">
                <textarea class="form-control" id="info" rows="10"></textarea>
            </span><br />
            <span class="form-group">
                <input class="form-control" type="file" id="formFile">
            </span><br />
            <span class="d-grid gap-2">
                <button onclick="UpdateRoom()" class="btn btn-lg btn-primary" type="button">등록하기</button>
            </span>
        </p>
    </div>
</body>
<footer class="footer"></footer>

</html>