<html>

<head>
    <meta charset="UTF-8">
    <title>GoCamping</title>
    <meta name="author" content="GoCamping">
    <meta name="description" content="캠핑장">
    <meta name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.css">
    <!--css 기본설정 초기화-->
    
    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <!--css 연결-->
    <script src="../js/room_list_mypage.js"></script>
    <link rel="stylesheet" href="../css/room_list_mypage.css"/>
    
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light"
        style="height: 50px; box-shadow: 0px 5px 5px rgb(180, 179, 179)">
        <div class="container-fluid">
            <div><a href="/host_mypage">
                <img src="../image/left.png" style="position: relative; left: 500%; height: 25px" />
            </a></div>
            <div>
                <span class="nav-link active" style="color: black">캠핑장 방 관리</span>
            </div>
            <div><a href="/">
                <img src="../image/home.png" style="height: 28px; position: relative; right: 600%" />
            </a></div>
        </div>
    </nav>
    <div class="updateBtn">
        <span style="float: left">캠핑장 방 목록</span>
    </div>
    <br/>
    <div id="list"></div>
    <br/>
    <div class="d-grid gap-2 updateBtn">
        <button onclick="new_room()"class="btn btn-lg btn-primary" type="button">새로운 객실 추가하기</button>
    </div>
</body>
<footer class="footer"></footer>

</html>